# JTS3ServerMod Config File
#special settings
#-write complain
#-if missing --> add user to servergroup

#Manual ADD (not recommended):
###manuelles hinzufügen deaktiviert die groupprotection - aktueller bug###
# !botcfgset servergroupprotection_file = SGID:UUID
# !botcfgsave -> !botcfgreload

#BotText
The server group [b]%SERVER_GROUP_NAME%[/b] is protected!

#Admin;
#Maze:
139,MYbIjMHVgO5nj6YVRZYJoDgQMKI=
#Jan:
139,5nJKPBzXjZocKMEYO1r0UbTrBBI=
#Ben:
139,SvahEpBNpoI1lKiqOUm85JCJ868=

#Moderator;
##Aktuell
#Nico:
37,mxm8LKZYcKPfek19batB4nCK0sg=
#Gumbario:
37,yov5kUyQD5QRMgGC55Ea/BK1Gv8=
##Alt
#Nico Zweitaccount:
#37,A+jrJccjQAq/YdWhuk6AADEF810=
#Shadow:
#37,mr1LKHzLQQya4prFlyyAWn3ZTxw=
#Gripschi:
#37,/WNJlbD0FMNPa5fEmDnFIM++auo=
#Ketti
#37,bGorDMRUdyS5EAZEXfORMNCGfw8=

